VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,0,4
 PRODUCTVERSION 0,0,0,4
 FILEFLAGSMASK 0x003L
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Bixbite\0"
            VALUE "CompanyName", "Bixbite\0"
            VALUE "FileDescription", "Bixbite\0"
            VALUE "FileVersion", "0.0.0.4b\0"
            VALUE "InternalName", "Bixbite\0"
            VALUE "LegalCopyright", "Copyright (C) 2018\0"
            VALUE "OriginalFilename", "\0"
            VALUE "ProductName", "Bixbite\0"
            VALUE "ProductVersion", "0.0.0.4b\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END
IDI_ICON1               ICON    DISCARDABLE     "bxb.ico"
